body {
    background: #1B1B25;
    text-align: center;
    display: block;
    margin: 8px;
}
/* <div id="contacts"> | Start */
#contacts p{
    text-align: center;
    line-height: 0px;
    color: #fff;
}
#contacts h3,h4{ 
    text-align: center;
    line-height: 0px;
	co lor: rgba(61, 61, 90, 0.616);
    color: #fff;
	font-size: 30px;	
	font-weight: 900;
}
#contacts h4{
    text-align: center;
	co lor: rgba(61, 61, 90, 0.616);
    color: #fff;
	font-size: 20px;	
	font-weight: 900;
}
/*pt - Desktop*/
#pt h2,h3 {
	display: inline-block;
	text-align: center;
	font-size: 30px;
}
/*pt - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
    #pt h3,h2{
        font-size: 20px;
      }
  }

#self-employed p,h2,h4{
	display: inline-block;
    text-align: center;
    posi tion:relative; t op:6px;
}

/*phone - Desktop*/
#phone h2,h3 {

}
/*phone - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
    #phone h3,h2{
        font-size: 20px;
      }
  }

.joined p{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;	
}
.joined h1{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;	
}
.joined h2{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 150px;	
}
.joined h3{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;	
}
.joined h4{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 60px;	
}
/* <div id="contacts"> | End */

/* stack-header | Start */
.stack-header h3{
    color: #c0c0c0;
    font-size: 48px;
}
/* stack-header | End */
.work-urls a{
    color: #01b3f7;
    font-weight: bold;
}

/*<div id="solutions-array"> | Start*/
#secure-solutions h3{
    color: #fff;
    font-size: 30px;
}
/*phone - Desktop*/
#solutions-array h3{
    color: #fef90a;
    font-size: 30px;
}
#solutions-array p{
    color: #fff;
    font-size: 20px;
}
/*phone - smartphones, iPhone, portrait 480x320 phones*/
@media only screen and (max-width: 480px) {
    #solutions-array h3{
        display: inline-block;
        white-space: pre;
        text-align: center;
        color: #fef90a;
        font-size: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    #solutions-array p{
        color: #fff;
        font-size: 20px;
    }
  }
/*<div id="solutions-array"> | End*/

.section-paragraphs p{
    color: #fff;
    font-size: 20px;
}

h3{
    text-align: center;
	color: rgba(61, 61, 90, 0.616);
	font-size: 100px;	
	font-weight: 900;
}
.center {
    text-align: center;
}

hr {
    height:2px;border-width:0;color:gray;background-color:gray
    }
    
    hr ::after {
      
    }
    
    .custom-hr {
        height: 2px;
        border-width: 0;
        color: gray;
        background-color: gray;
        width: 50%;
        text-align: left;
        margin-left: 0;
    }