body {
    display: block;
    margin: 8px;
    color: #1B1B25;
}

#contacts h3{
    text-align: center;
	color: rgba(61, 61, 90, 0.616);
	font-size: 100px;	
	font-weight: 900;
}
h3{
    text-align: center;
	color: rgba(61, 61, 90, 0.616);
	font-size: 100px;	
	font-weight: 900;
}

.center {
    text-align: center;
}


hr {
    height:2px;border-width:0;color:gray;background-color:gray
    }
    
    hr ::after {
      
    }
    




    .custom-hr {
        height: 2px;
        border-width: 0;
        color: gray;
        background-color: gray;
        width: 50%;
        text-align: left;
        margin-left: 0;
    }